@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;500&display=swap");
body,
html,
#root,
.app {
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #0e1421;
  margin: 0;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}
