.navbar {
  display: flex;
  color: #c7ced1;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1421;
  width: 100%;
  height: 50px;
  z-index: 1000;
  font-size: 10px;
  box-shadow: -0px -0px 5px 0px rgba(50, 65, 87, 1);
}

.logo {
  max-height: 35px;
  padding-top: 2px;
  padding-left: 10px;
}

@media (max-width: 600px) {
  .logo {
    max-height: 33px;
    padding-bottom: 2px;
  }
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-name {
  color: #c7ced1;
  font-weight: bold;
}

.icon {
  max-height: 25px;
}

.icon:hover {
  opacity: 0.5;
}

.burger {
  height: 50px;
}

.subTitle {
  padding-right: 10px;
}

.navbar.hidden {
  background-color: transparent;
  box-shadow: none;
}
